.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ccc;
}

.nav-icon {
  font-size: 28px;
  margin: 0 20px;
  cursor: pointer;
}

.home-content {
  padding-bottom: 60px;
}
